.navigation {
  background: linear-gradient(90deg, #b3b5b2, #d9d9d9, #e6e6e6, #ffffff);
  border: 3px solid teal;
  position: sticky;
  top: 8px;
  /* height: 5em; */
}

/* änderung des linkstyles */
.navigation__button {
  text-decoration: none;
  color: var(--main-txt-color);
}

/* entfernen der punkte vor der Liste, Liste an Rand, items nebeneinander */
.navigation__menu {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 42px;
}

.navigation__menu > li:hover {
  background-color: teal;
  transition: 0.2s;
}
